.profile {
  margin: 0 auto;
  width: 90%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 0px 1px 3px 0px rgba(191, 205, 222, 0.75);
  border-radius: 4px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
  text-align: center;
}

.avatar {
  margin-top: 25px;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
}

.tag,
.location {
  font-size: 0.875rem;
  color: #888;
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: rgb(209, 236, 245);
  list-style: none;
  width: 100%;
}

.statsItem {
  flex: 1 1 33.3333%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.label {
  font-size: 0.875rem;
  color: #888;
}

.quantity {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}
